html, body {
  height: 100%;
}

body {
  background:
    linear-gradient(#38bdf8 1px, transparent 1px),
    linear-gradient(90deg, #38bdf8 1px, transparent 1px);
  background-size: 40px 40px, 40px 40px; /* размер клетки */
  background-color: #0b1220;             /* тёмный фон как у тебя */
}
